<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kerhomjarnoin.pokemon"
    android:versionCode="1"
    android:versionName="@string/app_version"
    android:installLocation="auto">
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:label="@string/app_name"
        android:name=".PokemonApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.positions.PositionsCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Positions" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.positions.PositionsEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Positions" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.positions.PositionsShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Positions" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.positions.PositionsListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Positions" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.badges.BadgesCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Badges" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.badges.BadgesEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Badges" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.badges.BadgesShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Badges" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.badges.BadgesListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Badges" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.arenes.ArenesCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Arenes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.arenes.ArenesEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Arenes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.arenes.ArenesShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Arenes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.arenes.ArenesListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Arenes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.types.TypesCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Types" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.types.TypesEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Types" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.types.TypesShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Types" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.types.TypesListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Types" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attaques.AttaquesCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Attaques" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attaques.AttaquesEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Attaques" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attaques.AttaquesShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Attaques" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attaques.AttaquesListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Attaques" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.npc.NpcCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Npc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.npc.NpcEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Npc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.npc.NpcShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Npc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.npc.NpcListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Npc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dresseurs.DresseursCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Dresseurs" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dresseurs.DresseursEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Dresseurs" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dresseurs.DresseursShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Dresseurs" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dresseurs.DresseursListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Dresseurs" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.objets.ObjetsCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Objets" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.objets.ObjetsEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Objets" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.objets.ObjetsShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Objets" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.objets.ObjetsListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Objets" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemons.PokemonsCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Pokemons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemons.PokemonsEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Pokemons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemons.PokemonsShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Pokemons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemons.PokemonsListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Pokemons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeobjet.TypeObjetCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.TypeObjet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeobjet.TypeObjetEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.TypeObjet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeobjet.TypeObjetShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.TypeObjet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeobjet.TypeObjetListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.TypeObjet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemons.TypeDePokemonsCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.TypeDePokemons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemons.TypeDePokemonsEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.TypeDePokemons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemons.TypeDePokemonsShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.TypeDePokemons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemons.TypeDePokemonsListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.TypeDePokemons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.zones.ZonesCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Zones" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.zones.ZonesEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Zones" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.zones.ZonesShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.kerhomjarnoin.pokemon.Zones" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.zones.ZonesListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.kerhomjarnoin.pokemon.Zones" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.kerhomjarnoin.pokemon.provider.PokemonProvider"
            android:authorities="com.kerhomjarnoin.pokemon.provider"
            android:label="@string/app_provider_name"
            android:description="@string/app_provider_description"
            android:exported="false" />
    </application>
</manifest>
